@font-face {
    font-family:"IBMPlexsans";
    src: url("https://fonts.google.com/specimen/IBM+Plex+Sans?query=IBM+Plex+sans/text/IBMPlexSans-Woff.ttf"),format("woff"); 
    src: url("https://fonts.google.com/specimen/IBM+Plex+Sans?query=IBM+Plex+sans/text/IBMPlexSans-Woff2.ttf")format("Woff2");
 
}


 .about {
    display: flex;
    position: center;
    margin-left: 20px;
    padding: 5px;
}