
@font-face {
    font-family:"IBMPlexsans";
    src: url("https://fonts.google.com/specimen/IBM+Plex+Sans?query=IBM+Plex+sans/text/IBMPlexSans-Woff.ttf"),format("woff"); 
    src: url("https://fonts.google.com/specimen/IBM+Plex+Sans?query=IBM+Plex+sans/text/IBMPlexSans-Woff2.ttf")format("Woff2");
 
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }

}

.start{
    display: flex;
    align-items: center;
    background-image: url("/images//logo\ rainy\ days\ best\ new\ colour.png"), no-repeat, bottom, cover;
    background-color: white;
    margin: 20px;
    min-height: 50vh;
   
    position: relative, center;
}

h1 {
    font-size: 3em;
} 
.container {
    display: grid;
   
}
.buttonp {
    background-color:#F2C166;
    color:black;
    width: 1000px;
    height: 300px; 
    padding: 0px;
    position: right;
    margin-right:auto;
}
