@font-face {
    font-family:"IBMPlexsans";
    src: url("https://fonts.google.com/specimen/IBM+Plex+Sans?query=IBM+Plex+sans/text/IBMPlexSans-Woff.ttf"),format("woff"); 
    src: url("https://fonts.google.com/specimen/IBM+Plex+Sans?query=IBM+Plex+sans/text/IBMPlexSans-Woff2.ttf")format("Woff2");
 
}



main {
    background-color: #5897A6;
 }

.form-wrapper {
    
    max-width: 600px;
    max-height: 400px;
    margin-left: 500px;
    padding: 100px;
    text-align: right;
    line-height: 50px;
    
}
#name {
    height: 20px;
    font-size: 14pt;
}
#address {
    height: 20px;
    font-size: 14pt;
}
#email {
    height: 20px;
    font-size: 14pt;
}
 .cta {
    margin-left: 600px;
 }

label {
    background-color: white;
    color: #5897A6;
    display: column;
    position: relative, center;
    width: 300px;
    height: 50x;
    margin: 50px;
    font-size:x-large;
    border-radius: 5px;
    border-color:black;
    border-style: bold;
       
     }
:root {
    --blue-grey-color: #9ACDD9;
    --white: #fff;
}

.cta-continue-shopping {

    background-color: var(--blue-grey-color);
    color:var(--white);
}



.twitter {
    width: 50%;
    max-width: 50px;
    position: center bottom;
    
}.facebook {
    width: 50%;
    max-width: 50px;
    position: center bottom;
    
}
 .instagram {
    width: 50%;
    max-width: 50px;
    position: center bottom;
 }

 :root {
    --font-color: #fff;

}
 h1 {
    color: var(--white);
 }
