@font-face {
    font-family:"IBMPlexsans";
    src: url("https://fonts.google.com/specimen/IBM+Plex+Sans?query=IBM+Plex+sans/text/IBMPlexSans-Woff.ttf"),format("woff"); 
    src: url("https://fonts.google.com/specimen/IBM+Plex+Sans?query=IBM+Plex+sans/text/IBMPlexSans-Woff2.ttf")format("Woff2");
 
}

@media only screen and (max-width: 600px) {
    .container {
        display: grid;
        flex-direction: column;

    }
}

main {
    background-color: #5897A6;
 }
.form-wrapper {
    
    max-width: 400px;
    max-height: 200px;
    margin: 50px;
    padding: 100px;
    text-align: center;
    
}
 .login {
    color: white;
 }

label {
    position: column;
    width: auto;
    height: auto;
    background-color: white;
    color: #5897A6;
}

.cta-button {
        background-color: #5897A6;
}

.twitter {
    width: 50%;
    max-width: 50px;
    position: center bottom;
    
}.facebook {
    width: 50%;
    max-width: 50px;
    position: center bottom;
    
}
 .instagram {
    width: 50%;
    max-width: 50px;
    position: center bottom;
 }