
@font-face {
    font-family:"IBMPlexsans";
    src: url("https://fonts.google.com/specimen/IBM+Plex+Sans?query=IBM+Plex+sans/text/IBMPlexSans-Woff.ttf"),format("woff"); 
    src: url("https://fonts.google.com/specimen/IBM+Plex+Sans?query=IBM+Plex+sans/text/IBMPlexSans-Woff2.ttf")format("Woff2");
 
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        display: grid;
    }
}
 
.container-item {
    
    grid-template-rows: auto space-between;
    justify-content: space-between;
    position: center;
    margin-left: 5em;
}