
@font-face {
    font-family:"IBMPlexsans";
    src: url("https://fonts.google.com/specimen/IBM+Plex+Sans?query=IBM+Plex+sans/text/IBMPlexSans-Woff.ttf"),format("woff"); 
    src: url("https://fonts.google.com/specimen/IBM+Plex+Sans?query=IBM+Plex+sans/text/IBMPlexSans-Woff2.ttf")format("Woff2");
 
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}


body {
    max-width: 600px;
    position: relative, center;
    margin: 20px;
    padding: 10px,
}

    .cta-view-cart {
    background-color:white;
    color:#5897A6;
    
}
    