@font-face {
    font-family:"IBMPlexsans";
    src: url("https://fonts.google.com/specimen/IBM+Plex+Sans?query=IBM+Plex+sans/text/IBMPlexSans-Woff.ttf"),format("woff"); 
    src: url("https://fonts.google.com/specimen/IBM+Plex+Sans?query=IBM+Plex+sans/text/IBMPlexSans-Woff2.ttf")format("Woff2");
 
}

        .start{
            display: flex;
            align-items: center;
            background-image: url("/images//logo\ rainy\ days\ best\ new\ colour.png"), no-repeat;
            background-color: white;
            margin: 20px;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
        }
    
        h1,h2,h3 { 
        
            font-family:"IBMPlexsans",Verdana, Geneva, Tahoma, sans-serif;
            font-size: 10px;
            text-align: center;
        }
    
    
        h2,h3 { 
            
            font-size: 2em;
            text-align: left;
    
        }

        p {
        font-family: "IBMPlexsans",Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5em;
        text-align: left;
        margin: 10px;
        padding: 5x;
        width: 300px;
        }

        nav {
            display: none; 
            position: absolute;
        }
       
        li a, hoover {
                text-decoration: underline;
                display: inline-block;
                font-size: 1em,
        }
        ul a {
                padding: 0%;
        }
        
        
        #menu-checkbox:checked ~ nav {
                display: block;
         } 

         .item {
            width: 500px;
         }

        .item_product {
            max-width: 100%;
        }
   
    @media only screen and (max-width: 600px) {
  
            nav, #menu-checkbox:checked ~ nav {
                display: block;
                position: static;
            }
        
    } 
        
     .container_item {
            display: list-item;
     }
        
        .cta {
            width: 5em;
            height: 1em;
            background-color: #f2c166;
            color: black;
            font-size: medium;
            text-transform: capitalize;
            padding: 10px 80px;
            border-radius: 5px;
            border-color: black;
            border-style: bold;
            }
    
    
                    
                
        /*inline element*/
            span {
            color: #5897A6;
            display: block;
            /*OR*/
            display: inline-block;
            border-color: #5897A6;
                    
        }

    @media only screen and (max-width: 600px) {
        .container {
            flex-direction: column;
        }
    }  
           
/* Login */


    .buttom_item {
    display: column;
    position: relative, center;
    width: 500px;
    height: 100px;
    margin-left: 100px;
    font-size: large;
    }


    label {
        display: column;
        position: relative, center;
        width: 200px;
        height: 50x;
        margin: 50px;
        font-size: large;
        text-anchor: white;
        border-radius: 8px;
        border-color:black;
        border-style: bold;
        background-color: #5897A6;
        }

/*raincoat*/
    body {
    max-width: 600px;
    position: relative, center;
    margin: 20px;
    padding: 10px,
}

    .cta-view-cart {
    background-color:white;
    color:#5897A6;
    width: 5em;
    height: 1em;
    font-size: medium;
    text-transform: capitalize;
    padding: 10px 80px;
    border-radius: 5px;
    border-style: bold;
    border: 5px solid;
}

/*Conform*/
 @media only screen and ( max-width: 600px) {
    .container {
        display: flex;
    }
 }

 footer {
    position: relative, left;
    margin: 150px;
    
    

 }