@font-face {
    font-family:"IBMPlexsans";
    src: url("https://fonts.google.com/specimen/IBM+Plex+Sans?query=IBM+Plex+sans/text/IBMPlexSans-Woff.ttf"),format("woff"); 
    src: url("https://fonts.google.com/specimen/IBM+Plex+Sans?query=IBM+Plex+sans/text/IBMPlexSans-Woff2.ttf")format("Woff2");
 
}



        header {
            position: top;
            display: grid;
            align-items: center;
            justify-content: center;
        }

        .active {
                text-decoration: underline;
                background-color:  rgb(42, 112, 42);
                color:#fff;
            }
            
        body {
            display:grid;
            grid-template-rows: auto 1fr auto;
            margin: 5px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        
        nav ul {
            display: inline-block; 
            margin: 15px;
            padding: 20px 40px
        }
        nav {
            width: 60px;
            height: 30px;
            position: top left;
            
        }
         #checkbox-menu {
            display: inline-block;
         }

       
        button {
            
            background-color: #f2c166;
            color: black;
            width: 300px;
            height: 50px; 
            padding: 0px;
            position: right;
            margin-right:auto;
            border-radius: 1em;
            text-align: center capitalize large;
            
        }
          
        .cta {
           
            text-align: center capitalize large;
            margin: 10px

         }
    

        h1,h2,h3 { 
        
            font-family:"IBMPlexsans",Verdana, Geneva, Tahoma, sans-serif;
            color: rgb(42, 112, 42);
            text-align: center;
            font-size: 2em;
            
        }
    
    
            h3 { 
            text-align: left;
            margin-right: 30px;
            
         }
        
         
        p {
        font-family: "IBMPlexsans",Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5em;
        text-align: left;
        position: center;
        margin: 50px;
        padding: 5x;
        width: 300px;
        }
    
        img {
        width: 600px;
        height:auto;
        position: relative center;
        margin: 10px;
        padding:50px;
     }
                    
                
       

    @media only screen and (min-width: 600px) and (max-width:1200px) {
        .container {
            display:grid;
            flex-direction: column;
            grid-template-columns: 200px 200px 200px;
            justify-content: space-between;
            

        }
    }  
           
    footer {
        position: relative, left;
        margin: 20px;
        color: rgb(42, 112, 42);
        text-align: left;
    }
    
   




    