@font-face {
    font-family:"IBMPlexsans";
    src: url("https://fonts.google.com/specimen/IBM+Plex+Sans?query=IBM+Plex+sans/text/IBMPlexSans-Woff.ttf"),format("woff"); 
    src: url("https://fonts.google.com/specimen/IBM+Plex+Sans?query=IBM+Plex+sans/text/IBMPlexSans-Woff2.ttf")format("Woff2");
 
}

        header {
            display:flex;
            align-items: center;
            justify-content: center;
        }

        .active {
                text-decoration: underline;
                background-color: #5897A6;
                color:#fff;
            }
            

        
        nav ul {
            display: block left; 
            margin: 15px;
            padding: 5px;
        }
        
       
        nav li {
            display: inline-block;
            padding: 25px 40px;
            color: rgb(42, 112, 42);
           
        }
        
        #hamburger-menu {
            display: left;
            margin-bottom: 30px;
            
        }
        #hamburger-menu:checked ~ nav {
                display: block;
         } 

        h1,h2,h3 { 
        
            font-family:"IBMPlexsans",Verdana, Geneva, Tahoma, sans-serif;
            color: rgb(42, 112, 42);
            text-align: center;
        }
    
    
        h2,h3 { 
            
            font-size: 2em;
            text-align: center;
    
        }
        
         .ekstra-info {
            display: flex;
            flex-direction:column

         }
         .ekstra-info_item {
            flex:1;
         }
        p {
        font-family: "IBMPlexsans",Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5em;
        text-align: left;
        position: center;
        margin: 50px;
        padding: 5x;
        width: 300px;
        }
        .item {
            width: 500px;
         }

        .item_product {
            max-width: 100%;
        }
   
    
    
    
    img {
        width: 400px;
        height:auto;
        position: center;
        margin: 10px;
        padding:50px;
     }
                    
                
        /*inline element*/
            span {
            color: #5897A6;
            display: block;
            /*OR*/
            display: inline-block;
            border-color: #5897A6;
                    
        }

    @media only screen and (max-width: 600px) {
        .container {
            flex-direction: column;
        }
    }  
           
 footer {
    position: relative, center;
    margin: 150px;
    color: rgb(42, 112, 42);
    text-align: left;
}
.wrapper {
    display:grid;
    grid-template-columns:200px 200px 200px;
    justify-content: space-evenly;
} 




    label {
        display: column;
        position: relative, center;
        width: 200px;
        height: 50x;
        margin: 50px;
        font-size: large;
        text-anchor: white;
        border-radius: 5px;
        border-color:black;
        border-style: bold;
        background-color: #5897A6;
        }